        @media only screen and (max-width:1000px) {
            .home header .toggler {
                display: block;
            }
            /* .home header nav {
            background-color: white;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            height: 100%;
            width: 200px;
            overflow: hidden;
            z-index: 1;
            transition: .5s ease;
        }
        .home header nav ul {
            display: block;
            margin-top: 100px;
        }
        .home header nav ul i#cross {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            z-index: 2;
            font-size: 30px;
            margin: 40px 85px;
            cursor: pointer;
        }
        .home header nav ul li {
            display: block;
            margin-top: 20px;
        }
        .home header nav ul li #bag {
            font-size: 45px;
        } */
            /* My Code */
            .home header nav {
                margin-top: 40px;
                background-color: white;
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: 1;
                height: 100%;
                width: 200px;
                transition: .3s ease;
            }
            .home header nav ul {
                display: block;
            }
            .home header nav ul li {
                margin-bottom: 40px;
            }
            .home header ul i#cross {
                display: block;
                font-size: 30px;
                cursor: pointer;
            }
            .home header nav ul li #bag {
                font-size: 30px;
            }
        }